*{
    padding : 0px;
    margin : 0px;
    box-sizing: border-box;
}
li {
    text-decoration-style: none;
    list-style-type: none;
}
body {
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    color : white;
    height : 5rem;
    width : 100%;
    background-color: rgb(5, 79, 79);
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding : 10px;
    font-size : 20px;
}
.options {
    width : 50%;
    display:  flex;
    justify-content: space-around;
    cursor : pointer;

}